torchvision <=0.15.1
jsonargparse[signatures]
wandb <=0.15.0
gradio <=3.28.1
pyyaml <=6.0
protobuf <4.23.0  # 4.21 breaks with wandb, tensorboard, or pytorch-lightning: https://github.com/protocolbuffers/protobuf/issues/10048
websockets
lightning
tensorboard
